*{
  margin: 0
}
.app{
  background-color: #fafafa;
  height: 100vh;
}
.app_header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app_headerImage{
  object-fit: contain;
}
.app_signUp{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.app_posts{
  padding: 220px 20px 20px 20px;
}
.input_change{
  background: white;
  margin-top: 5px;
  border-radius: 5px;
  padding:8px;
}
.button_handle{
  background: white;
  margin-top: 5px;
}
.modal_style{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  border: 2px solid #000;
  box-shadow: 24;
}
h2{
  padding: 40px;
}